*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;

}
body{
  background-color: #e3e6e6;
}
p{
    margin: 0;
}
.main-navbar{
    height: 65px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;

}
.nav-logo{
    height: 50px;
    width: 100px;
}
 .logo{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}
.for-border{
    border: 1.5px solid transparent;

    &:hover{
        border: 1.5px solid #fff;
    }
}
.add-primary{
    color: #cccccc;
    font-size: 0.85rem;
    /* margin-left: 15px; */
}
.add-secondary {
  font-size: 1rem;
  font-weight: 700;
}
.nav-address a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    &:hover{
      border: 1.5px solid #fff;
  }
}
.nav-address a i {
  font-size: 18px;
  margin-right: 3px;
}
.add-text{
    margin-left: 5px;
}
.nav-search {
    display: flex;
    /* background: red; */
    width: 740px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    border: 2px solid transparent;
  }
.nav-search:focus-within {
  border: 2px solid red;
  }
  #toggleBtn {
    text-align: start;
    padding: 0;
    margin-bottom: 15px;
  }
  

  .nav-search:hover {
  }
  .search-select{
    background-color: #f3f3f3;
    border-radius: 4px 0 0 4px;
    border: none;
    width: 50px;
    text-align: center;
  }
  input[type="search"] {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 0;
  }
  input[type="search"]:active,
  input[type="search"]:focus {
    border: none;
    box-shadow: none;
  }

  .search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd69;
    border-radius: 0 4px 4px 0;
    color: #0f1111;
  }
/* navbar */
.panel .offcanvas-body{
padding: 0;
}
.panel .offcanvas-body .nav-item:hover {
  background: #b9b9b9;
}
.panel .offcanvas-body .nav-item ,
.navbar .offcanvas-body .nav-link h5 ,
.navbar .offcanvas-body #toggleBtn{
  padding: 0 30px;
}
/* nav mobile */
.panel-mobile{
  background-color: #222f3d;
  padding: 8px 0;
}
.panel-mobile ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0;
}
.panel-mobile ul li a {
  text-decoration: none;
  margin: 0;
  color: #fff;
  font-size: 1rem;
}
.panel-mobile ul li {
  margin: 0 8px;
  text-wrap: nowrap;
}
.navbar-mobile {
  background: #222f3d;
  display: flex;
  justify-content: space-between;
}
.navbar-mobile .logo-mobile img{
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.navbar-logo-wrapper,
.signin-cart-wrapper {
  display: flex;
  align-items: center;
}
.signin-cart-wrapper a {
  color: #fff;
  text-decoration: none;
  margin: 0 6px;
  font-size: 0.9rem;
  font-weight: 600;
}

.signin-cart-wrapper a i {
  font-size: 1.2rem;
  margin-left: 5px;
}
  .navbar-mobile .navbar-toggler span{
    background-color: #fff;
    height: 2px;
    width: 18px;
    display: block;
  }
  .navbar-mobile .navbar-toggler span+span{
    height: 2px;
    width: 18px;
    margin-top: 5px;
  }
  .nbar-mobile .navbar {
    margin: 0 8px 8px 0;
  }
  .search-mobile{
  background: #222f3d;
  position: relative;
  }
  .search-mobile .nav-search {
    width: 100%;
    position: relative;
  }
  .search-mobile .search-icon {
    border-radius: 6px;
    position: absolute;
    height: 100%;
    width: 45px;
    right: 0;
  }
  .search-mobile input[type="search"] {
    border-radius: 6px;
  }
  .navbar-mobile .offcanvas-header {
    background: #222f3d;
  }
  #offcanvasNavbarMobile {
    width: 300px;
  }
  .navbar-mobile .offcanvas-header a,
  .navbar .offcanvas-header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
  }
  .navbar-mobile .offcanvas-header a i,
  .navbar .offcanvas-header a i {
    color: #222f3d;
    background: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  .navbar-mobile .offcanvas-header .navbar-cancel i,
  .navbar .offcanvas-header .navbar-cancel i {
    color: #c8c3c3;
    font-size: 1.9rem;
    position: absolute;
    top: 19px;
    right: -45px;
  }


  /* delivery location */
  .delivery-location {
    background: #374659;
    padding: 5px 0;
  }
  .delivery-location .btn {
    background: transparent;
    border: none;
    font-size: 0.9rem;
  }
  .delivery-location .btn:active,
  .delivery-location .btn:focus{
    border: none;
    background-color: transparent;
  }
  .delivery-location .btn i{

    margin-right: 8px;
  }
  .delivery-location .location-done {
    position: absolute;
    right: 20px;
    top: -52px;
    color: #fff;
    font-size: 1.1rem;
    border: 3px solid #fff;
    border-radius: 10px;
    font-weight: 600;
  }
  .delivery-location .offcanvas-header {
    padding: 0;
  }
  .delivery-location .offcanvas-body h5 {
    font-size: 1.1rem;
    font-weight: 600;
  }  
  .delivery-location .offcanvas-body p {
    color: #1e1e1e;
  }
  .delivery-location .offcanvas-body .signin-button {
    background: #fed813;
    border-radius: 50px;
    margin: 10px 0 5px 0;
    width: 100%;
    padding: 9px 0;
  }
  .delivery-location #offcanvasBottom {
    height: 35vh;
  }
  .delivery-location .offcanvas-body .zipcode ul  {
    list-style: none;
    padding: 0;
  }
  .delivery-location .offcanvas-body .zipcode ul a {
    color: #0167c1;
    text-decoration: none;
    font-size: 1rem;
  }
  .delivery-location .offcanvas-body .zipcode ul a i{
    margin-right: 10px;
    width: 15px;
  }

  .categories .rr {
    display: flex;
    flex-direction: row-reverse;
  }
  /* carousel */

  .carousel-slider .owl-dots {
    display: none;
  }
  .owl-carousel .owl-nav button.owl-prev span,
  .owl-carousel .owl-nav button.owl-next span {
    color: #fff;
    font-size: 90px;
    line-height: 35px;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 70px;
  }
  .owl-carousel .owl-nav button.owl-prev {
  left: 0;
  }
  .owl-carousel .owl-nav button.owl-next{
  right: 0;
  }
  .panel-all .btn-close.btn-close-white {
    position: absolute;
    right: -30px;
  }

/* preview slider */
.preview-slider .card {
  max-height: 170px;
  max-width: 140px;
  flex: 0 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.preview-slider {
  display: flex;
  overflow-x: scroll;
  gap: 8px;
  margin-top: -120px;
  position: relative;
  z-index: 2;
}




  /* box 4 */
.nav-signin,
.nav-returns{
    font-size: 0.7rem;
    padding: 4px 10px;
}
.nav-signin p.nav-second,
.nav-returns p.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box 6 */
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}

/* Panel */
.panel {
    background-color: #222f3d;
    display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 15px;
  }
  .panel .offcanvas-header {
    background: #232f3e;
  }
  .panel-navbar .navbar{
    padding: 12px 11px;
    border: 1.5px solid transparent;

    &:hover{
      border: 1.5px solid #fff;
    }
  }
  .navbar-toggler {
    border: none;
    color: #fff;
    padding: 0;
    display: flex;
  }
  .navbar-toggler:active,
  .navbar-toggler:focus {
    box-shadow: none;
    border: none;
  }
  .panel .navbar-toggler p{
    font-size: 0.9rem;
    margin-left: 5px;
    font-weight: 600;
  }
  .panel .panel-ops {
    width: 70%;
    display: flex;
    overflow-x: scroll;
  }
  .panel .panel-ops a,
  .panel .panel-deals a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 8px;
    text-wrap: nowrap;

    &:hover{
      border: 1.5px solid #fff;
    }
  }

  section.panel .panel-all .navbar-toggler span{
    background-color: #fff;
    height: 2px;
    width: 16px;
    display: block;
  }
  section.panel .panel-all .navbar-toggler span+span{
    height: 2px;
    width: 16px;
    margin-top: 4px;
  }

  /* hero section */
  section.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
  justify-content: center;
  align-items: flex-end;
  }
  section.hero-section .hero-message {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 6px 0px;
    margin: 0 0px 15px 0;
    width: 95%;
  }
section.hero-section .hero-message a{
    text-decoration: none;
}
/* .hero-message p {
    background: #fff;
  } */


  section.categories {
    background: transparent;
    padding: 0 8px;
  }
  .categories.categories-section1 {
    margin-top: -330px;
    position: relative;
    z-index: 2;
  }

  section.categories .col-md-3 {
    padding: 0px 8px;
  }
.categories .card{
  height: 420px;
  padding: 17px;
  margin: 8px 0;
  border: none;
  border-radius: 0;
}
.categories .card .image-holder {
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  
}
section.categories .title h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 5px 0 10px 0;
}
section.categories .image-holder img {
  object-fit: cover;
  width: 100%;
}
.categories .image-holder .box4 {
  width: 47%;
  height: 150px;
  margin: 0 4px;
}
.categories .image-holder .box4 img {
  height: 115px;
}
section.categories .see-more a {
  text-decoration: none;
  font-size: 0.9rem;
}
.categories .card .image-holder .image-wrapper a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
}


/* best selling books */
.slider .slider-wrapper{
  display: flex;
  white-space: nowrap;
  gap: 15px;
  overflow-x: scroll;
}
.slider .image-holder {
  flex: 0 0 auto;
}
.slider {
  padding: 0 16px;
  margin: 16px 0;
}
.slider .bg {
  background: #fff;
  padding: 20px;
}
.slider .title h4 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.3rem;
}


/*personalized recommendation */
.personalized-recommendation {
  padding: 30px 0;
  background: #fff;
  margin-top: 8px;
}
.perRec-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border: 1px solid #ddd;
}
.perRec-body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
.perRec-body a.btn {
  color: #000;
  background: #ffd814;
  width: 180px;
  border-radius: 50px;
  padding: 4px;
  font-size: 0.9rem;
  margin: 5px 0;
}
.perRec-body p {
  font-size: 0.8rem;
  margin: 5px 0;
}
/* backtotop  */
.backtotop {
  background: #37475a;
  color: #fff;
  padding: 17px 0;
}
.backtotop:hover {
  background: #465a71;
}
.backtotop a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
.top-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer panel 1 */
.footer-panel1 {
  background-color: #232f3e;
  color: #fff;
  padding: 50px 0;
}
.footer-panel1 .heading h3 {
  font-size: 1.05rem;
  font-weight: 700;
}
.footer-panel1 .body ul {
  list-style: none;
  padding: 0;
}
.footer-panel1 .body ul li{
  margin: 5px 0;
}
.footer-panel1 .body ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}
.footer-panel1 .body ul li a:hover {
  text-decoration: underline;
}

/* footer panel 2 */
.footer-panel2 {
  background: #232f3e;
  border-top: 0.5px solid #ddd;
}
.panel2-options .option a img {
  width: 20px;
  margin: 0 5px 0px 0px;
  height: 11px;
}
.panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.footer-panel2 .logo, 
.panel2-options {
  margin: 0 30px;
}
.panel2-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.panel2-options .option {
  margin: 0 3px;
  border: 1px solid #848688;
  padding: 4px 20px 4px 10px;
  border-radius: 3px;
}
.language .form-select.form-select-sm {
  background: transparent;
  color: #fff;
  border: none;
  padding: 2px 25px 1px 0;
}
.panel2-options .option a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}
.footer-panel1 .col-sm-6.small-devices {
  width: 50%;
}

/* Rights and terms */
.terms-rights {
  background: #131a22;
  padding: 20px 0;
}
.terms-rights ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 0.8rem;
  &:hover{
    text-decoration: underline;
  }
}
.terms-rights ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
}
.terms-rights li {
  margin: 0px 10px;
}
.terms-rights .rights p {
  color: #ddd;
  font-size: 0.85rem;
}


/* developer */
.developer {
  background: #e3e6e6;
  padding: 10px 0;
}
.developed-by p{
  color: #000;
  font-weight: 600;
}
.developed-by p a{
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}